.cache
scalastyle-output.xml
.classpath
.idea
.metadata
.settings
.project
.version.properties
filter.properties
logs.zip
log/
logs/
target
tmp
*.class
*.iml
*.swp
*.jar
*.log
.DS_Store
build-target
atlassian-ide-plugin.xml
out/
/docs/.bundle
/docs/.rubydeps
*.ipr
*.iws
